label{
    display: block;
}
.window{
    display:none;
    width:200px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}
/* .container{
    text-align: center;
} */

.form-group{
    text-align: center;
}

h1{
    text-align: center;
}

#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
.fechar{
    display:block; text-align:right;
}